# Week 11 Assignment

Because I was unable to conduct our workshop this week, I'm keeping the assignment light as well.  Below you'll find just two steps for this week: one programming exercise and then a planning activity for your final project.

For clarification, the "final project" I've been referring to is your "final."  It is not a project in addition to a final exam.  They're one-in-the-same.

Please do the programming exercise and verify that your code works using the tests, then think about your final project and fill out the questions in the second part.

---
---

### 47.1: Filtering and summarizing data

For this work, you'll find a data file in `/data/complications_all.csv`.

Read in the data file and create a variable called `mo_hospitals` that contains a data frame from the `complications_all.csv` file, filtered down to only contain those hospitals from the state of Missouri (MO).

Then aggregate that data by hospital into a variable named `mo_summary`.  There are some key fields that we want to summarize:
* We want to know the earliest date that each hospital was participating in any program
* We want to know the latest date that each hospital stopped participating in any program
* We want to know the total number of patients in the denominators of these programs

Some things to note:
* You will need to convert the `Start Date` and `End Date` to actual datetime fields
* You will need to clean up and convert the `Denominator` field to just be numeric - the rule that you should use it to simply remove any records where the `Denominator` is `'Not Available'`


The final result of this step should be a new data frame called `mo_summary` that contains one row for each hospital and contains the min start date, max end date, and total denominator.  Use the names `start_date`, `end_date`, and `number` for those columns in `mo_summary`.


You do not need to create your code in the form of a function, just make sure your variable names match what I've described above so the tests work.

In [1]:
import pandas as pd
# This is just to show you the name to use for the variable you need to create for this step to pass.
hospitals = pd.read_csv('/data/complications_all.csv')
mo = hospitals['State'] == 'MO'

In [2]:
mo.value_counts()

False    89262
True      2133
Name: State, dtype: int64

In [3]:
mo_hospitals = hospitals[mo]

In [4]:
mo_hospitals.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Start Date,End Date
45534,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,26,2.5,1.4,4.2,NaN,04/01/2015,03/31/2018
45535,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,175,13.9,11.0,16.9,NaN,07/01/2015,06/30/2018
45536,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,91,2.5,1.2,5.1,NaN,07/01/2015,06/30/2018
45537,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,326,8.5,6.5,10.9,NaN,07/01/2015,06/30/2018
45538,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,461,13.1,10.7,15.9,NaN,07/01/2015,06/30/2018

In [5]:
# These assertions will help make sure that you're on the right track.
assert(mo_hospitals['State'].unique() == ['MO'])
assert(mo_hospitals.shape == (2133,18))

In [6]:
from dateutil import parser
from datetime import datetime
import pandasql as ps

## creating a subset of the original data
mo_hospitals_subset = mo_hospitals[['Facility Name','Start Date', 'End Date', 'Denominator']]

In [7]:
## converting the start date to string 
earliest_date = mo_hospitals_subset['Start Date'].astype(str)

In [8]:
## converting the dates in string type to datetime format and assigning to another variable
start = pd.to_datetime(earliest_date.str[0:10], format="%m/%d/%Y")

In [9]:
## creating a new column with the start_date
mo_hospitals_subset['start_date'] = start

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
## converting the end date to string 
latest_date = mo_hospitals_subset['End Date'].astype(str)

In [11]:
## converting the dates in string type to datetime format and assigning to another variable
end = pd.to_datetime(latest_date.str[0:10], format = "%m/%d/%Y")

In [12]:
## creating a new column with the end_date
mo_hospitals_subset['end_date'] = end

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
## filtering the data where the denominator is not 'Not Available'

patients_in_denominator = mo_hospitals_subset['Denominator'] != 'Not Available'

## creating a new data frame with filtered data

mo_hospital_data = mo_hospitals_subset[patients_in_denominator]

## converting the denominator column to numeric

denominator = mo_hospital_data['Denominator'].astype(int)

## creating a new column with name hospital

mo_hospital_data['hospital'] = mo_hospital_data['Facility Name']

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [14]:
mo_hospital_data.head()

,Facility Name,Start Date,End Date,Denominator,start_date,end_date,hospital
45534,MERCY HOSPITAL JOPLIN,04/01/2015,03/31/2018,26,2015-04-01,2018-03-31,MERCY HOSPITAL JOPLIN
45535,MERCY HOSPITAL JOPLIN,07/01/2015,06/30/2018,175,2015-07-01,2018-06-30,MERCY HOSPITAL JOPLIN
45536,MERCY HOSPITAL JOPLIN,07/01/2015,06/30/2018,91,2015-07-01,2018-06-30,MERCY HOSPITAL JOPLIN
45537,MERCY HOSPITAL JOPLIN,07/01/2015,06/30/2018,326,2015-07-01,2018-06-30,MERCY HOSPITAL JOPLIN
45538,MERCY HOSPITAL JOPLIN,07/01/2015,06/30/2018,461,2015-07-01,2018-06-30,MERCY HOSPITAL JOPLIN

In [15]:
## writing an SQL query to group the data by hospitals and select the columns hospital, sum(denominator), start_date, and end_date

sql = """
select  hospital, sum(denominator) as number, start_date, end_date
from mo_hospital_data  
group by hospital
"""

In [16]:
mo_summary = ps.sqldf(sql, locals())

In [17]:
mo_summary.head()

,hospital,number,start_date,end_date
0,BARNES JEWISH HOSPITAL,131313,2015-04-01 00:00:00.000000,2018-03-31 00:00:00.000000
1,BARNES-JEWISH ST PETERS HOSPITAL,15668,2015-04-01 00:00:00.000000,2018-03-31 00:00:00.000000
2,BARNES-JEWISH WEST COUNTY HOSPITAL,9622,2015-04-01 00:00:00.000000,2018-03-31 00:00:00.000000
3,BATES COUNTY MEMORIAL HOSPITAL,3117,2015-07-01 00:00:00.000000,2018-06-30 00:00:00.000000
4,BELTON REGIONAL MEDICAL CENTER,9270,2015-04-01 00:00:00.000000,2018-03-31 00:00:00.000000

In [18]:
assert(mo_summary['number'].sum() == 1766908)
assert(parser.parse(mo_summary['start_date'].min()).date() == pd.Timestamp(2015,4,1))
assert(parser.parse(mo_summary['end_date'].max()).date() == pd.Timestamp(2018,6,30))
# according to the question there should be 4 columns (hospital, start_date, end_date, number), so thereare 4 columns in the data set.
assert(mo_summary.shape == (108,4))
assert(mo_summary.loc[mo_summary['hospital'] =='BARNES JEWISH HOSPITAL', 'number'].iloc[0] == 131313)
assert(mo_summary.loc[mo_summary['hospital'] == "BOONE HOSPITAL CENTER", 'number'].iloc[0] == 63099)

---

### 47.2 Planning your final project

You should be thinking about the things we've been learning and how you can apply them to your final project.  Use the rubric to help guid your thinking and then answer the questions below.  This is meant as a guide to help you think through what you will do.

#### A) Data Access

Your project should include data from at least three distinct types of sources.  For example: AWS S3, Relational Databases, Internet, Web Services, local files.  List what data sources you're planning to use.

**Double-click to enter your answer**

Kaggle Data set, National Cancer Institute website and CDC data set

#### B. Data Formats

Your project should include data that comes in different file formats.  For example: HL7, EDI, HTML, CSV, Excel, JSON, XML.  List what data formats you're planning to use.

**Double-click to enter your answer**

HTML, CSV, EXCEL

#### C. Objective

What purpose would your project serve in a real work setting?  Take a couple of paragraphs to write down why this is an interesting product.

**Double-click to enter your answer**

I'm trying to merge data from Kaggle, National Cancer Institue and CDC data set to know the prevalence of breast cancer in USA and the characteristcs of breast cancer. This product also produces the visualization charts enabling us to diagnose the Breast cancer in the patients and try to cure in initial stages of the incidence. I think this might help in understanding it more precisely by every individual.



---



## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [19]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week11_assignment_2.ipynb
    !git commit -a -m "Submitting the week 11 programming assignment"
    !git push
else:
    print('''
    
OK. We can wait.
''')

Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

 yes

[main d25d7ae] Submitting the week 11 programming assignment
 2 files changed, 946 insertions(+), 3 deletions(-)
 create mode 100644 week11/week11_assignment_2.ipynb
Counting objects: 5, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (5/5), 6.77 KiB | 6.77 MiB/s, done.
Total 5 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
remote: This repository moved. Please use the new location:
remote:   git@github.com:Sravani9544/hds5210-2022.git
To github.com:sravani9544/hds5210-2022.git
   b348666..d25d7ae  main -> main