# Week 13 Review Assignmnet

For the questions below, we're going to refer exclusively to an HHCAPS survey data set that is available in `/data/hhcaps.csv`.  Use whatever commands you want to calculate the information required to get to the answer.  Then, enter your answer in the answers cell as usual.

**NOTE: Enter your answers as string values (inside quotation marks "") even if the answer is actually numeric.**

---
---

In [1]:
%matplotlib inline
import pandas as pd

hhcaps = pd.read_csv('/data/hhcaps.csv')

## #01 - 

How many columns does this file contain?

In [2]:
# Write some code to figure it out
no_columns = len(hhcaps.columns)

In [3]:
no_columns

39

In [4]:
answers={}
answers['40.1'] = int(no_columns)

## #02 - 

How many different values for State are there in this file?

In [5]:
# Write some code to figure it out
state_unique = len(hhcaps['State'].unique())

In [6]:

state_unique

55

In [7]:
answers['40.2'] = int(state_unique)

## #03 - 

Which of those State values has the highest frequency of occurence?

In [8]:
# Write some code to figure it out
highest_occurence = hhcaps['State'].value_counts()

In [9]:
highest_occurence

TX    2518
CA    1319
FL    1069
OH     781
IL     735
MI     597
PA     425
MA     261
OK     256
VA     244
IN     229
MN     197
LA     195
CO     187
NC     174
AR     172
AZ     169
MO     169
IA     163
AL     152
NV     143
NY     141
TN     140
WI     119
KS     117
GA     106
KY     104
UT      98
CT      91
NM      77
NE      75
SC      70
WA      63
WV      61
OR      57
MD      53
MS      48
NJ      47
PR      45
ID      45
SD      33
NH      31
DC      28
RI      27
MT      27
WY      26
DE      26
ME      24
ND      18
HI      16
AK      14
VT      11
GU       4
MP       2
VI       1
Name: State, dtype: int64

In [10]:
answers['40.3'] = 'TX'

## #04 - 

Which of those State values has the best average performance on the `Star Rating for health team communicated well with them` score?

In [13]:
state_values = hhcaps.groupby(['State'])['Star Rating for health team communicated well with them'].agg(['mean']).reset_index()

In [14]:
state_values

   State      mean
0     AK  3.500000
1     AL  4.507692
2     AR  4.384615
3     AZ  3.277108
4     CA  3.104508
5     CO  3.770833
6     CT  3.550725
7     DC  2.000000
8     DE  3.846154
9     FL  3.645228
10    GA  3.917526
11    GU       NaN
12    HI  3.818182
13    IA  4.204082
14    ID  3.972222
15    IL  3.667820
16    IN  4.030075
17    KS  4.166667
18    KY  4.484536
19    LA  4.487805
20    MA  3.817308
21    MD  3.695652
22    ME  4.650000
23    MI  3.716279
24    MN  3.544554
25    MO  4.300885
26    MP       NaN
27    MS  4.636364
28    MT  4.333333
29    NC  4.138158
30    ND  4.250000
31    NE  4.250000
32    NH  4.136364
33    NJ  3.833333
34    NM  3.714286
35    NV  3.000000
36    NY  3.378641
37    OH  3.666667
38    OK  4.128655
39    OR  3.409091
40    PA  4.148325
41    PR  2.846154
42    RI  3.947368
43    SC  4.333333
44    SD  4.166667
45    TN  4.372881
46    TX  3.811648
47    UT  3.603774
48    VA  3.865772
49    VI  4.000000
50    VT  4.272727
51    WA  3.642857
52    WI  4.101449
53    WV  4.647059
54    WY  3.833333

In [15]:
average_best = state_values['mean'].max()
average_best

4.65

In [20]:
answers['40.4'] = 'ME'

## #05 - 

What was the average score on `Star Rating for how patients rated overall care from agency` for providers listed as having a `Type of Ownership` of `Hospital Based Program`

**NOTE: Enter your answer with two decimal precision: 0.00**

In [21]:
# Write some code to figure it out
ownership = hhcaps['Type of Ownership'] == 'Hospital Based Program'

In [22]:
ownership_details = hhcaps[ownership]

In [23]:
average_score = ownership_details["Star Rating for how patients rated overall care from agency"].agg(['mean'])

In [24]:
average_score

mean    3.692521
Name: Star Rating for how patients rated overall care from agency, dtype: float64

In [25]:
answers['40.5'] = 3.69

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [26]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week13",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>5}{1:>20}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>5}{1:>20}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

   Q#               Yours  Correct?
 40.1                  39        OK
 40.2                  55        OK
 40.3                  TX        OK
 40.4                  ME        OK
 40.5                3.69        OK

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [ ]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week13_assignment_1.ipynb
    !git commit -a -m "Submitting the week 13 review exercises"
    !git push
else:
    print('''
    
OK. We can wait.
''')