Use the range() function to create a list of integers from 0 to 100.

In [59]:
a_list = []
type(a_list)

list

In [60]:
for num in range(1,101):
    a_list.append(num)

In [62]:
len(a_list)

100

In [63]:
names = [["Ada", "Boal"],
        ["Paul", "Boal"],
        ["Teddy", "Boal"],
        ["Daisy", "Duck"],
        ["Donald", "Duck"],
        ["Eric", "Westhus"]]

Loop over the items in the list above and print out "FirstName is a LastName"

In [66]:
for name in names:
    first_name = name[0]
    last_name = name[1]
    print("{} is a {}".format(first_name, last_name))

Ada is a Boal
Paul is a Boal
Teddy is a Boal
Daisy is a Duck
Donald is a Duck
Eric is a Westhus

Can you print out "FirstName LastName" in alphabetical order by last and then first name?

In [68]:
ordered_names = []
for name in names:
    ordered_names.append([name[1], name[0]])

In [69]:
ordered_names

[['Boal', 'Ada'],
 ['Boal', 'Paul'],
 ['Boal', 'Teddy'],
 ['Duck', 'Daisy'],
 ['Duck', 'Donald'],
 ['Westhus', 'Eric']]

In [71]:
ordered_names.sort()

In [72]:
ordered_names

[['Boal', 'Ada'],
 ['Boal', 'Paul'],
 ['Boal', 'Teddy'],
 ['Duck', 'Daisy'],
 ['Duck', 'Donald'],
 ['Westhus', 'Eric']]

In [74]:
for name in ordered_names:
    print("{} {}".format(name[1], name[0]))

Ada Boal
Paul Boal
Teddy Boal
Daisy Duck
Donald Duck
Eric Westhus

In [1]:
a_list = [1,2,5,4,3,2,1,5]

In [2]:
type(a_list)

list

In [3]:
a_list

[1, 2, 5, 4, 3, 2, 1, 5]

In [5]:
a_set = set(a_list)

In [6]:
type(a_set)

set

In [7]:
a_set

{1, 2, 3, 4, 5}

In [8]:
sorted(a_list)

[1, 1, 2, 2, 3, 4, 5, 5]

In [10]:
type(sorted(a_set))

list

In [12]:
a_set[0:2]

TypeError: 'set' object is not subscriptable

In [13]:
import random

In [25]:
random.randrange(1,11)

8

In [ ]:
help(random.randrange)

In [26]:
from random import randrange

In [81]:
a_list = []
for i in range(1000):
    a_list.append(randrange(1,101))

In [82]:
len(set(a_list))

100

In [1]:
families = {
    "Lester-Boal": ["Paul", "Sarahlynn", "Ellie", "Ada", "Teddy"],
    "Duck": ["Donald", "Daisy"],
    "Kardashian": ["Kim", "Chloe", "Courtney", "Rob"]
}

In [5]:
for surname, family in families.items():
    for firstname in family:
        print("{} {}".format(firstname, surname))

Paul Lester-Boal
Sarahlynn Lester-Boal
Ellie Lester-Boal
Ada Lester-Boal
Teddy Lester-Boal
Donald Duck
Daisy Duck
Kim Kardashian
Chloe Kardashian
Courtney Kardashian
Rob Kardashian

In [7]:
subjects = {
    "A1": { "PatientID": "E143291", "Age": 19 },
    "B2": { "PatientID": "E872839", "Age": 32 },
    "C3": { "PatientID": "E878198", "Age": 19 },
    "D4": { "PatientID": "E871111", "Age": 21 },
    "E5": { "PatientID": "E143299", "Age": 3  },
    "F6": { "PatientID": "E123332", "Age": 21 },
    "H7": { "PatientID": "E989891", "Age": 19 }
}

In [9]:
patients = {}
for subject, info in subjects.items():
    patientid = info["PatientID"]
    age = info["Age"]
    patients[patientid] = { "SubjectID": subject, "Age": age }

In [10]:
patients

{'E143291': {'SubjectID': 'A1', 'Age': 19},
 'E872839': {'SubjectID': 'B2', 'Age': 32},
 'E878198': {'SubjectID': 'C3', 'Age': 19},
 'E871111': {'SubjectID': 'D4', 'Age': 21},
 'E143299': {'SubjectID': 'E5', 'Age': 3},
 'E123332': {'SubjectID': 'F6', 'Age': 21},
 'E989891': {'SubjectID': 'H7', 'Age': 19}}

In [85]:
patients = {}
for subj_id, subject in subjects.items():
    patient_id = subject["PatientID"]
    age = subject["Age"]
    patients[patient_id] = { "SubjectID": subj_id, "Age": age }

In [86]:
patients

{'E143291': {'SubjectID': 'A1', 'Age': 19},
 'E872839': {'SubjectID': 'B2', 'Age': 32},
 'E878198': {'SubjectID': 'C3', 'Age': 19},
 'E871111': {'SubjectID': 'D4', 'Age': 21},
 'E143299': {'SubjectID': 'E5', 'Age': 3},
 'E123332': {'SubjectID': 'F6', 'Age': 21},
 'E989891': {'SubjectID': 'H7', 'Age': 19}}

In [89]:
patients["E989891"]["Age"]

19

In [11]:
families = {
    "Lester-Boal": [
        { "First Name": "Paul", "Age": 43 },
        { "First Name": "Ada", "Age": 13 },
        { "First Name": "Ellie", "Age": 16 }
    ],
    "Duck": [
        { "First Name": "Daisy", "Age": 64 },
        { "First Name": "Donald", "Age": 67 }
    ]
}

In [91]:
families

{'Lester-Boal': [{'First Name': 'Paul', 'Age': 43},
  {'First Name': 'Ada', 'Age': 13},
  {'First Name': 'Ellie', 'Age': 16}],
 'Duck': [{'First Name': 'Daisy', 'Age': 64},
  {'First Name': 'Donald', 'Age': 67}]}

In [15]:
for family, members in families.items():
    print("****")
#     print(members)
    count = len(members)
    total_age = 0
    for member in members:
        total_age += member["Age"]
    print("The average age of {} {}s is {}".format(count, family, total_age / count))

****
The average age of 3 Lester-Boals is 24.0
****
The average age of 2 Ducks is 65.5

In [16]:
names = [["Ada", "Boal"],
        ["Paul", "Boal"],
        ["Teddy", "Boal"],
        ["Daisy", "Duck"],
        ["Donald", "Duck"],
        ["Eric", "Westhus"]]

In [17]:
output = []
for name in names:
    output.append(name[0] + ' ' + name[1])
output

['Ada Boal',
 'Paul Boal',
 'Teddy Boal',
 'Daisy Duck',
 'Donald Duck',
 'Eric Westhus']

In [18]:
[ name[0] + " " + name[1] for name in names ]

['Ada Boal',
 'Paul Boal',
 'Teddy Boal',
 'Daisy Duck',
 'Donald Duck',
 'Eric Westhus']

In [19]:
names = ["PAUL", "Ada", "ellie", "TEddY", "SarahLynn"]

In [20]:
[ name[0].upper() + name[1:].lower() for name in names ]

['Paul', 'Ada', 'Ellie', 'Teddy', 'Sarahlynn']

In [23]:
[ name.title() for name in names ]

['Paul', 'Ada', 'Ellie', 'Teddy', 'Sarahlynn']